html{
  scroll-behavior: smooth;
}
.navbar{
  background: black;
  padding-top: 0%;
  margin-top: 0%;
  overflow: auto;
}
.navbar a{
  float: right;
  display: block;
  color:whitesmoke;
  text-align: center;
  text-decoration: none;
}
.navbar-brand{
  float: right;
}
.nav a.right {
  float: right;
}
.app{
  float: right;
}
.Contacts{
  float: right;
}
.tab{
  position: cover;
  height: 40rem;
}
.Header{
  text-align: center;
  font-size: larger;
  padding: 2em 2em 2em;
  background-image: url(./images/main.jpg);
  background-repeat: no-repeat;
  color: black;
  height: 30rem;
  background-size: cover;
  margin-bottom: 2em;
}
.Header2{
  background-image: url(./images/main.jpg);
  background-size: cover;
  height: 15em;
  padding: 3em;
  color: black;
  text-align: center;
  background-size: cover;
}
#contacts{
  text-align: center;
}
.ul{
  list-style: none;
  display: inline-flex;
}
.navbar-brand span{
  color: gray;
}
.steps{
  color: black;
  text-align: center;
  list-style: none;
  font-size: larger;
}
.strip{
  height: 3em;
  background-color: black;
}
.flex-outer li{
  padding-left: 1em;
  display: block;
  align-items: center;
}
.flex-outer li button {
  padding: 0.7em;
  border: none;
  background:black;
  color: whitesmoke;
  border-radius: 47%;
}
.Header3{
  height: 10em;
  background-color: black;
  color: whitesmoke;
  text-align: center;
}
h3{
  padding-bottom: 2em;
  padding-top: 1.7em;
}

.out{
  padding: 2em;
}
.add{
  padding-top: 3em;
  padding-bottom: 3em;
}
.enter{
  padding-bottom: 3em;
}
.select{
  padding-bottom: 3em;
}
.submit{
  padding-bottom: 3em;
}
.name{
  padding-bottom: 3em;
}
@media screen and (max-width: 600px) {
  body{
    width: 100%;
  }
  .Header{
    width: 100%;
  }
  .about{
    width: 100%;
  }
  .contacts{
    overflow: auto;
    width: 50%;
  }
}